{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<script type="text/javascript" src="{{site.baseurl}}/static/js/blog.js?t={{ buildAt }}"></script>
<script type="text/javascript" src="{{site.baseurl}}/static/js/search.js?t={{ buildAt }}"></script>

{%- if site.extClickEffect %}
<!-- 点击页面文字冒出特效 -->
<script>
;(function(){
  var textArr = ['敷衍', '将爱', '王菲01', '寓言', '只爱陌生人', '唱游', '王菲97', '浮躁', 'Di Dar', '菲靡靡之音', '讨好自己', '天空', '胡思乱想', '迷', '十万个为什么？', '执迷不悔', 'Coming Home', 'You’re The Only One', 'Everything', '王靖雯' ]
  window.blog.initClickEffect(textArr)
})()
</script>
{% endif %}

{%- if site.extMTA %}
{% include ext-mta.html %}
{% endif %}

{%- if site.extBaidu -%}
{% include ext-baidu.html %}
{% endif %}

{%- if site.extMath and page.layout=="mypost" -%}
{% include ext-mathjax.html %}
{% endif %}
